/.idea*
/Pods*
.DS_Store

## Build generated
build/
DerivedData/

## Playgrounds
timeline.xctimeline
playground.xcworkspace

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/

## Other
*.moved-aside
*.xccheckout
*.xcscmblueprint
*.cer
*.certSignin
*.certSigningRequest
*.p12
*.mobileprovision

## Obj-C/Swift specific
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# fastlane specific
fastlane/report.xml

# deliver temporary files
Preview.html

# snapshot generated screenshots
fastlane/screenshots

# scan temporary files
fastlane/test_output
